
  <div id="header"><h1>
    BOOK MANAGEMENT SYSTEM
  </h1>
  </div>
  <br>

  <form #FORM="ngForm">
      <div id="side1">
        <div id="s1">
            Book Id<br>
            <input type="text" name="bookId"   #bookId="ngModel" ngModel required pattern="[0-9]+"><br>
            <div *ngIf="bookId.touched">
              <div *ngIf="bookId.errors?.['required']">
                <font style="color:black;">Book Id Required.</font>
              </div>
              <div *ngIf="bookId.errors?.['pattern']">
                <font style="color: black;">Invalid Book Id.</font>
              </div>
            </div>
            Book Name<br>
            <input type="text" name="bookName" #bookName="ngModel" ngModel required><br>
            <div *ngIf="bookName.touched">
              <div *ngIf="bookName.errors?.['required']">
                <font style="color:black;">Book Name Required.</font>
              </div>
            </div>  
            Book Author<br>
            <input type="text" name="bookAuthor" #bookAuthor="ngModel" ngModel required><br>
            <div *ngIf="bookAuthor.touched">
              <div *ngIf="bookAuthor.errors?.['required']">
                <font style="color:black;">Book Name Required.</font>
              </div>
            </div>
            <br>
              <div class="btn">
                <button class="btn btn-primary" (click)="insertBook(FORM.value)">Create</button>&nbsp;&nbsp;
                <button class="btn btn-success" (click)="updateBook(FORM.value)">Update</button>&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteBook(FORM.value)">Delete</button>&nbsp;&nbsp;
                <button class="btn btn-warning" (click)="findBook(FORM.value)">Find</button>&nbsp;&nbsp;
                <button class="btn btn-warning" (click)="findAllBook()">Find All</button>&nbsp;&nbsp;
              </div>
          </div>
        <div id="s2">

          <br>
          <p id="l1">{{result}}</p>
           <br>
           <div *ngIf="flag">
            <div class="table table-bordered">
                <table>
                    <tr>
                        <th>BOOK ID</th>
                        <th>BOOK NAME</th>
                        <th>BOOK AUTHOR</th>
                    </tr>
                    <tr *ngFor="let a of BookArr" style="border: 1px solid black;">
                        <td>{{a.id}}</td>
                        <td>{{a.bookName}}</td>
                        <td>{{a.bookAuthor}}</td>
                    </tr>
                </table>
                
            </div>
       
         </div>
        </div>
      
      </div>
  
</form>